body, h1, h2, p, .nav-link, .card-title, .card-text {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

body {
    background-color: #d3eee1;
    color: #222222;
}

.navbar-header {
    background-image: url('https://media.licdn.com/dms/image/v2/D4D16AQEMng0BR8C9lA/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1672259273180?e=1738195200&v=beta&t=Vz_VxtNKWPKjft4gqv2CvM63vgLMG3A6FM4alnQdz_8');
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-header h1 {
    color: #d3eee1;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #222222;
}

.navbar-nav .nav-link {
    color: #d3eee1 !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D\'http://www.w3.org/2000/svg\' viewBox%3D\'0 0 30 30\'%3E%3Cpath stroke%3D\'%23d3eee1\' stroke-width%3D\'2\' d%3D\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

.content-section {
    display: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo traslúcido */
    padding: 20px;
    border-radius: 10px;
}

.content-section.active {
    display: block;
}

.btn-primary {
    background-color: #222222;
    border-color: #222222;
}

.btn-primary:hover {
    background-color: #d3eee1;
    border-color: #d3eee1;
    color: #222222;
}

h2 {
    color: #222222;
}

.card {
    background-color: rgba(211, 238, 225, 0.9); /* Fondo traslúcido para las tarjetas */
    border-radius: 10px;
}

.card-title, .card-text {
    color: #222222;
}

.experience-section, .certifications-section, #proyectos, #contacto {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

.experience-section h3, .certifications-section h3, #proyectos h2, #contacto h2 {
    text-align: center;
    background-color: #d3eee1;
    padding: 10px;
    border-radius: 10px;
}
